= form_for @message, :url => send_mail_path do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "Вы допустили ошибки при заполнении формы"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, 'Имя'
    = f.text_field :name, :size => "28"
  .field
    = f.label :email
    = f.text_field :email, :size => "28"
  .field
    = f.label :content, 'Сообщение'
    = f.text_area :content, :size => "28x6"

  .actions
    = f.submit 'Отправить'
