%h1 Listing brands

%table
  %tr
    %th Name
    %th Country
    %th Slogan
    %th Description
    %th Logo
    %th Image
    %th Flag
    %th
    %th
    %th

  - @brands.each do |brand|
    %tr
      %td= brand.name
      %td= brand.country
      %td= brand.slogan
      %td= brand.description
      %td= brand.logo
      %td= brand.image
      %td= brand.flag
      %td= link_to 'Show', brand
      %td= link_to 'Edit', edit_brand_path(brand)
      %td= link_to 'Destroy', brand, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Brand', new_brand_path
