- @brands.each do |product|
  %tr
    %td= product.slug
    %td= product.title
    %td= product.brand
    %td= product.type
    %td= product.price
    %td= product.country
    %td= product.options
    %td= product.features
    %td= product.description
    %td= product.excerpt
    %td= product.slogan