- @products.each do |product|
  %div{class: "product #{product.slug}"}
    = image_tag(product.image_url, :alt => "#{@category.name} - #{product.name}")

    .brand-description
      %h2= link_to product.name, "/#{@products.path}/#{product.slug}"
      = product.price if product.price
      = product.brand.name
      %p= product.description1.html_safe if product.description1

    .details
      = product.description2.html_safe if product.description2
