- @brands.each do |brand|
  %div{class: "brand #{brand.slug}"}
    = image_tag(brand.image_url, :alt => "#{@category.name} - #{brand.name}")

    .brand-description
      %h2= link_to brand.name, dental_brand_path(brand)
      = image_tag(brand.flag_url, :alt => "Флаг #{brand.country}")
      = brand.country
      %p= brand.description

    .details
      = brand.details.html_safe


