- @subcategories.each do |cat|

  %div{class: "category #{cat.slug}"}
    = link_to image_tag(cat.logo_url(:small), :alt => "Категория #{cat.name}"),
      subcategory_url(cat)

    .details
      %h3= link_to cat.name, subcategory_url(cat)
      .info= cat.description.html_safe if cat.description

    .brands
      - cat.brands.each do |brand|
        .brand
          = link_to image_tag(brand.logo_url(:small),
            :alt => "Бренд #{brand.name}"), brand_url(brand, cat)
          %span= link_to brand.name, brand_url(brand, cat)