= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :brand_id
    = f.select(:brand_id, @brands.map {|b| [b.name, b.id]})
  .field
    = f.label :category_id
    = f.select(:category_id, @categories.map {|c| [c.name, c.id]})
  .field
    = f.label :image
    = image_tag(@product.image_url) if @product.image?
    = f.file_field :image
    = f.hidden_field :image_cache

    = f.label :remove_image
    = f.check_box :remove_image
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :price
    = f.number_field :price
  .field
    = f.label :options
    = f.text_area :options
  .field
    = f.label :features
    = f.text_area :features
  .field
    = f.label :design
    = f.text_area :design
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :slogan
    = f.text_field :slogan
  .actions
    = f.submit 'Save'
