.product{class: (count == 0 ? 'first' : '')}
  %h3
    = product.brand.name
    = link_to product.name, product_url(product)

  %p.price= "#{product.price} руб." if product.price

  .details
    = link_to image_tag(product.image_url(:small), :size => "175x130",
        :alt => product.name), product_url(product)

    .images
      - 1.upto 5 do |n|
        = product_img_link(product, :small, n)

    .info
      %p.slogan= link_to product.slogan, product_url(product)
      %p= short_text(product.features, 200)