.product{class: (count == 0 ? 'first' : '')}
  %h3
    = product.brand.name
    = link_to product.name, product_url(product)

  %p.price= "#{product.price} руб." if product.price

  .details
    = link_to image_tag(product.image_url(:small), :size => "175x130",
        :alt => product.name), product_url(product)

    .info
      %p.slogan= link_to product.slogan, product_url(product)
      %p= short_text(product.features, 200).html_safe

    .images
      - product.photos.each do |photo|
        = img_link(photo, :small, :large) if photo.url