%h1 Listing products

%table
  %tr
    %th Slug
    %th Brand
    %th Name
    %th Type
    %th Price
    %th Options
    %th Features
    %th Design
    %th Description
    %th Slogan
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.slug
      %td= product.brand
      %td= product.name
      %td= product.type
      %td= product.price
      %td= product.options
      %td= product.features
      %td= product.design
      %td= product.description
      %td= product.slogan
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
