%header.product
  %h1
    = @product.brand.name
    %span= @product.name

  %p.price= "#{@product.price} руб." if @product.price

  .details
    = image_tag(@product.image_url(:large), :size => "330x245",
      :alt => @product.name)

    .info
      %p.slogan= @product.slogan
      %p= short_text(@product.features, 300)

    .images
      = image_tag(@product.photo1_url(:medium))
      = image_tag(@product.photo2_url(:medium))
      = image_tag(@product.photo3_url(:medium))
      = image_tag(@product.photo4_url(:medium))
      = image_tag(@product.photo5_url(:medium), class: 'last')

%section.content
  = @product.description1.html_safe if @product.description1