%header.product
  %h1
    = @product.brand.name
    %span= @product.name

  %p.price= "#{@product.price} руб." if @product.price

  .details
    = img_link(@product.image, :large, :large)

    .info
      %h2.slogan= @product.slogan
      %p= short_text(@product.features, 300)

    .images
      - @product.photos.each do |photo|
        = img_link(photo, :medium, :large)

%section.content
  = @product.description1.html_safe

:javascript
  #{fancybox}