%header.product
  %h1
    = @product.brand.name
    %span= @product.name

  %p.price= "#{@product.price} руб." if @product.price

  .details
    = image_tag(@product.image_url(:large), :size => "330x245",
      :alt => @product.name)

    .info
      %p.slogan= @product.slogan
      %p= short_text(@product.features, 300)

    .images
      - 1.upto 5 do |n|
        = product_img_link(@product, n, :medium)

%section.content
  = @product.description1.html_safe

:javascript
  $(function() {
    $(".fancybox").fancybox();
  });