- if @brands
  = @brands.each(&:inspect)

- if @products
  - @products.each do |product|
    %tr
      %td= image_tag(product.image_url(:thumb))
      %td= product.slug
      %td= product.name
      %td= product.type
      %td= product.price
      %td= product.options
      %td= product.features
      %td= product.description
      %td= product.design
      %td= product.slogan
- else
  %p В данной категории товаров нет.