- if @products
  - @products.each do |product|
    %tr
      %td= image_tag(product.image_url(:thumb)) if product.image_url
      %td= product.slug
      %td= link_to product.name, product_url(product)
      %td= product.price
      %td= product.slogan
      %td= product.features
      %td= product.description1.html_safe if product.description1
      %td= product.description2.html_safe if product.description2
- else
  %p В данной категории товаров нет.