%tr
  %td= image_tag(@product.image_url(:small)) if @product.image_url
  %td= @product.slug
  %td= @product.name
  %td= @product.price
  %td= @product.slogan
  %td= @product.features
  %td= @product.description1.html_safe if @product.description1
  %td= @product.description2.html_safe if @product.description2