%header.product
  %h1
    = @product.brand.name
    %span= @product.name

  %p.price= "#{@product.price} руб." if @product.price

  .details
    = img_link(@product.image, :large, :full)

    .info
      %h2.slogan= @product.slogan
      %p= short_text(@product.features, 300)

    .images
      - @product.photos.each do |photo|
        = img_link(photo, :medium, :large)

%article.content
  .row
    %section.chair
      .specs
        %h3 Кресло
        .text
          = @product.chair_text.html_safe

    %section.controls
      .specs
        %h3 Модуль врача
        .text
          = @product.controls_text.html_safe

  .row
    %section.assistant
      .specs
        %h3 Модуль Ассистента и гидроблок
        .text
          = @product.assistant_text.html_safe

    %section.lamp
      .specs
        %h3 Светильник
        .text
          = @product.lamp_text.html_safe

:javascript
  #{fancybox}