%header.product
  %h1
    = @product.brand.name
    %span= @product.name

  %p.price= "#{@product.price} руб." if @product.price

  .details
    = img_link(@product.image, :large, :full)

    .info
      %h2.slogan= @product.slogan
      %p= short_text(@product.features, 300)

    .images
      - @product.photos.each do |photo|
        = img_link(photo, :medium, :large)

%article.content
  .row
    %section.chair
      %header
        %h3 Кресло
        %p
          Элекромеханический привод, интегрированный в гидроблок с плевальницей и вачебным модулем с оптимальным набором программ.
      .text
        = @product.chair_text.html_safe

    %section.controls
      %header
        %h3 Модуль врача
        %p
          Модуль врача на пантографическом плече с верхней подачей и возможностью установки 5 инструментов предоставляет максимальную степень свободы при лечении
      .text
        = @product.controls_text.html_safe

  .row
    %section.assistant
      %header
        %h3 Модуль Ассистента и гидроблок
        %p
          Гидроблок интегрирован, поднимается и опускается вместе с креслом. Поворотная плевательница удобна для пациента и для работы в четыре ручки.
      .text
        = @product.assistant_text.html_safe

    %section.lamp
      %header
        %h3 Светильник
        %p
          Бестеневой, светодиодный стоматологический светильник с плавной регулировкой освещенности. Холодный белый свет, съемные автоклавируемые ручки.
      .text
        = @product.lamp_text.html_safe

:javascript
  #{fancybox}