= link_to image_tag("logo.png", :size => "277x56", :alt => "Медилиайн Сервис"), root_path

%address.contacts
  .main
    %p.tel (812) 983-49-96
    %p.email= mail_to 'info@medilines.ru'
  .alternative
    %p.tel 8 921 375-74-61
    %p.tel 8 905 287-72-47

%nav#main-menu
  %ul.nav
    = nav_item 'Установки',       dentals_path
    = nav_item 'Визуализация',    visuals_path
    = nav_item 'Комплектующие',   components_path
    = nav_item 'Запчасти',        'spares_path',      true
    = nav_item 'Акции',           promotions_path
    = nav_item 'Скачать каталог', '/docs/MediLines_Catalog_2013.pdf'
    = nav_item 'Контакты',        contacts_path