!!!
%html{lang: 'ru'}
  %head
    %meta{ charset: 'utf-8' }/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= page_title(@page)
    %meta{ name: 'description', content: @page.description }/
    %meta{ name: 'keywords', content: @page.keywords }/
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    / = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"
    = javascript_include_tag "//api-maps.yandex.ru/2.0-stable/?load=package.standard,package.traffic&lang=ru-RU&"
    = csrf_meta_tags
    /[if lt IE 9]
      %script{ :src => '//html5shiv.googlecode.com/svn/trunk/html5.js' }

  %body{:class => "#{controller_name} #{action_name}"}
    %header
      .container
        = render 'layouts/header'

    - unless @page.intro.blank?
      %section.intro
        .container
          = @page.intro.html_safe

    %section#main
      .container
        -#%p.notice= notice
        -#%p.alert= alert
        = render 'layouts/breadcrumbs'


        = yield


    %footer
      .container
        = render 'layouts/footer'

    = render 'layouts/analytics'



